.uploadBtn {
  width: -webkit-fill-available;
  height: 32px;
  border-color: var(--primary-color) !important;
  &hover {
    background-color: var(--primary-color) !important;
  }
}

.antForm {
  margin-left: 150px;
}
